# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
public/api/admin-config.php
public/api/anthropic-config.php
public/api/gemini-config.php
public/api/private/partners.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.deployrc
.deployrc.prod
private-data/

# Sauvegardes et fichiers temporaires
*.zip
.~lock.*#
